*.php
*.exe
*.dll
*.txt
*.bat
*.css
*.phar
*.ini
*.ini-development
*.ini-production
*.lib
*.md
*.dtd
*.spec
*.xml
*.rst
*.pkg
*.fdb
*.fft
*.afm
*.cpg
*.enc
*.pfa
*.upr
*.ps
*.ttf
*.in
*.mib
*.pl
*.mibs
*.diff
*.inc
*.cnf
*.depdb
*.depdblock
*.filemap
*.lock
*.reg
*.gif
*.htm
*.sql
*.xsl
*.dist
*.png
*.js
*.tpl
*.phpt
*.php5
php/
